@import url('https://fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900&display=swap&subset=cyrillic');

:root {
  --main-font: 'Montserrat', sans-serif;
  --color-light: rgb(255, 255, 255);
  --color-light-2: rgba(255, 255, 255, 0.8);
  --color-light-3: rgba(255, 255, 255, 0.9);
  --color-light-4: rgba(255, 255, 255, 0.7);
  --color-dark-1: rgb(34, 35, 47);
  --color-dark-2: rgba(70, 70, 77, 0.6);
  --color-dark-3: rgba(34, 35, 47, 0.6);
  --color-dark-4: rgb(122, 123, 130);
  --color-dark-5: rgba(34, 35, 47, 0.9);
  --color-dark-6: rgba(34, 35, 47, 0.8);
  --color-dark-7: rgb(89, 90, 99);
  --color-dark-8: rgb(73, 73, 80);
  --color-dark-9: rgb(0, 0, 0);
  --color-dark-10: rgb(145, 145, 151);
  --color-dark-11: rgb(70, 70, 77);
  --color-auxiliary-1: rgb(79, 183, 227);
  --color-auxiliary-2: rgb(188, 189, 192);
  --color-background-1: rgb(107, 157, 184);
  --color-background-2: rgba(237, 238, 242, 0.7);
  --color-background-3: rgb(178, 206, 219);
  --color-background-4: rgb(242, 243, 246);
  --color-button: rgb(108, 196, 245);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

button:focus {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 30px 100px 30px 100px;
  background-size: cover;
}

.page--first {
  background-image: url(../images/background--metal-001.jpg);
  padding: 15px 0 0 100px;
}

.page--first::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-dark-3);
  z-index: 1;
}

.page--second {
  padding: 130px 100px;
  height: auto;
}

.page--third {
  height: auto;
  align-content: stretch;
  flex-direction: row;
  padding: 0;
  background: var(--color-dark-1);
}

.page--fourth {
  padding: 130px 0 130px 100px;
  height: auto;
}

.region {
  cursor: pointer;
}

.region circle {
  fill: var(--color-dark-8);
  opacity: 0.5;
  stroke: var(--color-dark-1);
  stroke-width: 6px;
  transition: 0.2s ease-in-out all;
}

.region:hover circle { 
  fill: var(--color-auxiliary-1);
  opacity: 1;
}

.region circle.region__marker {
  fill: none;
  stroke: var(--color-auxiliary-2);
  stroke-width: 1px;
  stroke-dasharray: 1;
  opacity: 1;
}

.region circle.region__point {
  fill: var(--color-auxiliary-2);
  opacity: 1;
}

.region__town {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  fill: var(--color-auxiliary-2);
}

.region:first-child .region__point {
  animation: blink 3s infinite 1.5s ease-in-out;
}

.region:nth-child(2) .region__point {
  animation: blink 3s infinite 1.6s ease-in-out;
}

.region:nth-child(3) .region__point {
  animation: blink 3s infinite 1.7s ease-in-out;
}

.region:nth-child(4) .region__point {
  animation: blink 3s infinite 1.8s ease-in-out;
}

.region:nth-child(5) .region__point {
  animation: blink 3s infinite 1.9s ease-in-out;
}

.region:nth-child(6) .region__point {
  animation: blink 3s infinite 2s ease-in-out;
}

.region:nth-child(7) .region__point {
  animation: blink 3s infinite 2.1s ease-in-out;
}

.region:nth-child(8) .region__point {
  animation: blink 3s infinite 2.2s ease-in-out;
}

.region:nth-child(9) .region__point {
  animation: blink 3s infinite 2.3s ease-in-out;
}

.region:nth-child(10) .region__point {
  animation: blink 3s infinite 2.4s ease-in-out;
}

.region:nth-child(11) .region__point {
  animation: blink 3s infinite 2.5s ease-in-out;
}

.region:nth-child(12) .region__point {
  animation: blink 3s infinite 2.6s ease-in-out;
}

.region:nth-child(13) .region__point {
  animation: blink 3s infinite 2.7s ease-in-out;
}

.region:nth-child(14) .region__point {
  animation: blink 3s infinite 2.8s ease-in-out;
}

.region:nth-child(15) .region__point {
  animation: blink 3s infinite 2.9s ease-in-out;
}

.region:nth-child(16) .region__point {
  animation: blink 3s infinite 3s ease-in-out;
}

.region:nth-child(17) .region__point {
  animation: blink 3s infinite 3.1s ease-in-out;
}

.region:nth-child(18) .region__point {
  animation: blink 3s infinite 3.2s ease-in-out;
}

.region:nth-child(19) .region__point {
  animation: blink 3s infinite 3.3s ease-in-out;
}

.region:nth-child(20) .region__point {
  animation: blink 3s infinite 3.4s ease-in-out;
}

.region:nth-child(21) .region__point {
  animation: blink 3s infinite 3.5s ease-in-out;
}

.region:hover .region__point {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes blink {
  from {
    fill: var(--color-dark-8);
    opacity: 0.5;
  }

  25% {
    fill: var(--color-auxiliary-1);
    opacity: 1;
  }

  75% {
    fill: var(--color-auxiliary-1);
    opacity: 1;
  }

  to {
    fill: var(--color-dark-8);
    opacity: 0.5;
  }
}

.page--fifth {
  justify-content: flex-start;
  height: auto;
  padding: 130px 205px;
  background-image: url(../images/background--cells-002.svg);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo--footer {
  flex-direction: row;
}

.logo__text {
  padding-top: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
}

.logo__text--footer {
  padding-top: 0;
  padding-left: 10px;
  font-size: 13px;
  color: var(--color-dark-7);
}


.header__nav {
  width: 100%;
  margin-left: 45px;
}

.nav-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-top__contact {
  padding: 0 100px 15px 0;
}

.contact {
  display: flex;
  align-items: center;
}

.contact__about-company {
  padding-right: 25px;
  font-weight: 500;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light-2);
}

.contact__phone-number {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-auxiliary-1);
}

.contact__phone-number::before {
  content: '';
  display: block;
  position: relative;
  width: 25px;
  height: 27px;
  margin-right: 10px;
  background-image: url(../images/icon--fone.svg);
  background-size: cover;
}

.contact__phone-number::after {
  content: '';
  display: block;
  position: relative;
  width: 11px;
  height: 9px;
  margin-left: 10px;
  background-image: url(../images/icon--triangle-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-top__menu {
  padding: 25px 100px 0 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.menu::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270.06deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.menu__item {
  position: relative;
  padding-bottom: 3px;
  font-weight: 600;
  font-size: 11px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light);
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.link-hover {
  display: flex;
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background: linear-gradient(270.06deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.2s ease-in-out all;
}

.link-hover:hover::after {
  content: '';
  width: 100%;
}

.headline {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.headline__text {
  margin-right: 60px;
}

.headline-text__title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 40px;
  line-height: 160%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-light);
}

.headline-text__subtitle {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-light);
}

.headline-text__subtitle--with-padding {
  padding-right: 90px;
}

.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 305px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-button);
}

.button {
  position: relative;
  width: 295px;
  height: 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-light);
  background: var(--color-button);
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.button:hover {
  width: 306px;
  height: 61px;
}

.advantages-block {
  position: relative;
  display: flex;
  height: 170px;
  justify-content: space-between;
  z-index: 2;
}

.scroll-down-button {
  display: flex;
  align-items: center;
}

.scroll-down-button img {
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.scroll-down-button img:hover {
  margin-top: 35px;
}

.advantages {
  display: flex;
  align-items: center;
  background: var(--color-background-1)
}

.advantages__content {
  display: flex;
  align-items: center;
  position: relative;
  width: 25%;
}

.advantages__content:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 1px;
  height: 50px;
  border-right: 1px dashed rgba(255, 255, 255, 0.5);
}

.advantages__item {
  padding: 0 35px 0 60px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-light);
}

.page-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-column--map {
  width: 100%;
  padding: 60px 100px;
}

.advantages__item span {
  font-weight: 600;
  font-size: 24px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header--column {
  flex-direction: column;
  align-items: flex-start;
}

.page-header--padding {
  padding: 130px 0 0 100px;
}

.page-header__text {
  display: flex;
  flex-direction: column;
}

.page-header__row {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.page__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark-1);
}

.page__title__row {
  font-size: 28px;
}

.page__title--white {
  color: var(--color-light);
}

.page__subtitle {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--color-dark-2);
} 

.page__subtitle__row {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0;
  color: var(--color-dark-6);
}

.page__subtitle span {
  font-weight: 500;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-link__elem {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 11px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-dark-1);
}

.header-link__elem::before {
  content: '';
  position: absolute;
  left: 0;
  width: 73px;
  height: 73px;
  background-size: cover;
}

.header-link__elem:first-child::before {
  content: '';
  background-image: url('../images/icon--chat.svg');
}

.header-link__elem:last-child::before {
  content: '';
  background-image: url('../images/icon--contact.svg');
}

.page-content {
  display: flex;
  margin-top: 65px;
}

.content-elem {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.333%; 
  border: 1px solid rgba(34, 35, 47, 0.1);
  border-radius: 3px;
}

.content-elem:not(:last-child) {
  margin-right: 25px;
}

.content-elem__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: var(--color-background-2);
}

.content-elem__image--adaptive img {
  width: 80%;
}

.content-elem__text {
  padding: 40px 30px 20px 30px;
}

.content-elem__text--carousel {
  padding: 25px 45px 70px 30px;
}

.elem-text {
  display: flex;
  flex-direction: column;
}

.elem-text__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-dark-1);
}

.elem-text__title--carousel {
  font-size: 15px;
}

.elem-text__subtitle {
  margin-top: 10px;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-dark-3);
}

.content-elem__link {
  padding: 0 0 20px 30px;
}

.button-arrow {
  display: block;
  width: 41px;
  height: 40px;
  background-image: url(../images/icon--arrow-blue.svg);
  background-size: cover;
  transition: 0.2s ease-in-out all;
}

.button-arrow--rotate {
  transform: rotate(180deg);
}


.button-arrow:hover {
  background-image: url(../images/icon--arrow-blue-hover.svg);
}

.page-column__content {
  padding: 50px 0 0 30px;
}

.column-content {
  display: flex;
  flex-direction: column;
}

.column-content__elem {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 65px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-light-3);
}

.column-content__elem:not(:last-child) {
  margin-bottom: 55px;
}

.column-content__elem::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.column-content__elem:nth-child(1)::before {
  content: '';
  background-image: url(../images/icon--like.svg);
}

.column-content__elem:nth-child(2)::before {
  content: '';
  background-image: url(../images/icon--time.svg);
}

.column-content__elem:nth-child(3)::before {
  content: '';
  background-image: url(../images/icon--sale.svg);
}

.page-column__footer {
  display: flex;
  align-items: center;
  width: 520px;
  height: 160px;
  padding: 0 100px 0 80px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--color-light);
  background-image: url(../images/background--cells.svg);
}

.step-region {
  position: absolute;
  visibility: hidden;
}

.popup-fade {
	display: none;
}

.popup-fade::before {
	content: '';
	background: var(--color-dark-9);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 999;
}

.popup {
	position: fixed;
	top: 5%;
	left: 2.5%;
  width: 95%;
  padding: 75px 100px 100px 100px;
	background: var(--color-light);
	z-index: 9999;
	opacity: 1;	
}

.tabs-caption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 45px 0;
  padding-left: 0;
}

.tabs-caption::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 100%;
  border: 0.5px dotted rgba(107, 157, 184, 0.5);
}

.caption-elem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  background-color: var(--color-light);
  cursor: pointer;
  z-index: 2;
}

.caption-elem.active {
  flex-direction: row;
  padding-top: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.caption-elem__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-background-1);
  border-radius: 50%;
}

.caption-elem__icon--done {
  width: 20px;
  height: 20px;
}

.caption-elem__icon--done::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon--check-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.caption-elem .caption-elem__icon {
  width: 20px;
  height: 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
  background-color: var(--color-background-3);
}

.caption-elem.active .caption-elem__icon {
  width: 70px;
  height: 70px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
}

.caption-elem.active .caption-elem__icon::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  border: 0.5px dashed rgba(107, 157, 184, 0.7);
  border-radius: 50%;
}

.caption-elem.active .caption-elem__icon span {
  display: block;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-light);
}

.caption-elem .caption-elem__icon span {
  display: none;
}

.caption-elem__text {
  position: relative;
  min-width: 75px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-dark-1);
}

.caption-elem__text::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 1px;
  width: calc(50% - 30px);
  border: 0.5px dotted rgba(107, 157, 184, 0.5);
}

.caption-elem__text::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 1px;
  width: calc(50% - 30px);
  border: 0.5px dotted rgba(107, 157, 184, 0.5);
}

.caption-elem.active .caption-elem__text {
  padding-top: 0;
  padding-left: 30px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-dark-1);
}

.caption-elem.active .caption-elem__text::after, .caption-elem.active .caption-elem__text::before, .caption-elem:first-child .caption-elem__text::before, .caption-elem:last-child .caption-elem__text::after {
  display: none;
}

.caption-elem .caption-elem__text {
  color: var(--color-dark-10);
}

.caption-elem .caption-elem__text.caption-elem__text--done {
  color: var(--color-dark-1);
}

.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: block; /* по умолчанию показываем нужный блок */
}



.page__carousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-left: 140px;
}

.owl-navigation {
  display: flex;
  position: absolute;
  left: 0;
}

.owl-navigation .button-arrow:first-child {
  margin-right: 7px;
}

.elem-text__list {
  margin-top: 20px;
}

.elem-text__list div {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-dark-4);
}

.elem-text__list div:not(:last-child) {
  margin-bottom: 12px;
}

.elem-text__list div span {
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--color-dark-5);
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.contact-info input {
  margin-right: 25px;
}

input[type="text"] {
  height: 50px;
  background: none;
  border: 1px solid rgba(34, 35, 47, 0.4);
  border-radius: 1px;
}

.name-client {
  flex:  3 1 auto;
}

.tell-email {
  flex:  3 1 auto;
}

input[type="text"]::placeholder {
  padding-left: 30px;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--color-dark-3);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 135px 205px 140px 205px;
  background-color: var(--color-dark-1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content__elem:not(:last-child) {
  padding-right: 75px;
}

.footer-elem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-elem:first-child {
  width: 33.333%;
}

.footer-elem__description {
  padding-top: 45px;
  font-size: 13px;
  line-height: 160%;
  color: var(--color-dark-4)
}

.footer-elem__header {
  padding-bottom: 40px;
  font-weight: 800;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer-elem__link {
  display: flex;
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: var(--color-light-4);
}

.footer-elem__link:not(:last-child) {
  margin-bottom: 20px;
}

.footer-elem__contact {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--color-dark-4);
}

.footer-elem__contact span {
  color: var(--color-light);
}

.footer-elem__contact:not(:last-child) {
  margin-bottom: 20px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
}

.social-block {
  display: flex;
  align-items: center;
}

.social-block__button {
  display: flex;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
} 

.social-block__button:not(:last-child) {
  margin-right: 20px;
}

.social-block__button--vk {
  background-image: url(../images/logo--vk.svg);
}

.social-block__button--facebook {
  background-image: url(../images/logo--facebook.svg);
}

.social-block__button--instagram {
  background-image: url(../images/logo--instagram.svg);
}

.copyright-text {
  font-size: 13px;
  line-height: 160%;
  color: var(--color-dark-4);
}

.step-form {
  display: flex;
  flex-direction: column;
  padding: 70px 100px;
  background: var(--color-background-4);
}

.step-form__header {
  padding-bottom: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: var(--color-dark-11);
}

.step-form__row {
  display: flex;
}

.step-form__row--image img {
  width: 95%;
}

.step-form__radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-dark-1);
  border: 1px solid rgba(34, 35, 47, 0.13);
  box-sizing: border-box;
  border-radius: 77px;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
}

.step-form__radio-button--min {
  height: 40px;
  font-size: 11px;
}

.step-form__radio-button:not(:last-child) {
  margin-right: 15px;
}

.step-form__radio-button--min:not(:last-child) {
  margin-right: 10px;
}

.step-form__radio-button input[type=radio] {
  display: none;
}

.step-form__radio-button--active {
  color: var(--color-light);
  border: 1px solid rgb(242, 243, 246);
  background: var(--color-auxiliary-1);
}

.step-form__column .step-form__row {
  padding-top: 28px;
}

.step-form__column .step-form__row--image {
  width: 560px;
  margin-right: 100px;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

#agricultural-form,
#industry-form,
#office-form {
  display: none;
}

.open {
  display: flex !important;
}


.step-form__column--range {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
  padding-top: 125px;
}

.input-block div:not(:last-child) {
  padding-bottom: 30px;
}

.input-block__header {
  padding-bottom: 10px;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--color-dark-3);
}

.input-block__item {
  width: 300px;
  height: 70px;
  padding: 0 30px;
  margin-left: -30px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-dark-1);
  background-color: var(--color-background-4);
  border: 1px solid rgba(138, 140, 148, 0.4);
  border-radius: 65px;
}

.input-block__item--select {
  position: relative;
  width: 210px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-transform: none;
  background: url('../images/icon--triangle-blue.svg');
  background-repeat: no-repeat;
  background-position: 87%;
}

.input-block div.rangeslider__fill {
  padding-bottom: 0;
}

 





















